:root {
  --purple: #221D2E;
  --violet: #3E384F;
  --orange: #E48E33;
  --yellow: #FCBF49;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: var(--violet);
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  
}

nav ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a{
  color: var(--orange);
  text-decoration: none;
  font-size: 4rem;
}
