.suggestions-container {
  position: relative;
}

.input-container {
  position: relative;
}

.icon-container {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--orange);
}

/* Initially hide the suggestions */
.suggestions-list {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 1;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.button-container {
  display: inline-block;
}