.image-slider.slick-initialized,
.collection-slider.slick-initialized,
.community-slider.slick-initialized,
.podcasts-slider.slick-initialized,
.staff-slider.slick-initialized,
.events-slider.slick-initialized,
.explore-collections-slider.slick-initialized {
    display: block
}

.image-slider.slick-initialized .fa,
.events-slider.slick-initialized .fa {
    top: 35%
}

@media screen and (min-width:768px) {

    .image-slider.slick-initialized .fa,
    .events-slider.slick-initialized .fa {
        top: 43%
    }
}

.slick-initialized .slick-next,
.slick-initialized .slick-prev {
    z-index: 2
}

.slick-initialized .fa {
    position: absolute;
    top: 40%;
    font-size: 50px;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, .6), 1px -1px 0 rgba(255, 255, 255, .6), -1px 1px 0 rgba(255, 255, 255, .6), 1px 1px 0 rgba(255, 255, 255, .6);
    z-index: 2;
    padding: 5px 10px;
    cursor: pointer
}

.slick-initialized .fa:focus {
    border: 1px solid rgba(0, 0, 0, .4)
}

.slick-initialized .fa-angle-right {
    right: -5px
}

.slick-initialized .fa-angle-left {
    left: -5px
}

.slick-initialized .slick-prev::before,
.slick-initialized .slick-next::before {
    color: #06c
}


#featured-content .slick-dots li button::before {
    font-size: 11px
}

#featured-content .slick-dots li.slick-active button::before {
    color: #e25a10
}

#featured-content .slick-dots button::before {
    opacity: 1;
    color: #06c
}

.image-slider-caption {
    display: none
}

.slick-current .image-slider-caption {
    display: inline-block;
    width: 100%;
    height: 55px;
    padding: 7px;
    position: absolute;
    bottom: 0;
    font-size: .7rem;
    background-color: rgba(0, 0, 0, .8);
    color: #fff
}

.slick-current .image-slider-caption strong {
    font-size: 1rem
}

@media screen and (min-width:768px) {
    .slick-current .image-slider-caption {
        height: 110px;
        padding: 15px;
        font-size: 1.5rem
    }

    .slick-current .image-slider-caption strong {
        font-size: 2rem
    }
}
