.contact-links {
    margin: .25em 0;
    font-weight: 500;
    font-size: .9rem;
    float: left;
    display: block;
    margin-right: 7.4229703521%;
    width: 46.288514824%
  }
  
  .contact-links:last-child {
    margin-right: 0
  }
  
  @media screen and (min-width:768px) {
    .contact-links {
        float: left;
        display: block;
        margin-right: 3.5786636068%;
        width: 48.2106681966%;
        font-size: .875rem
    }
  
    .contact-links:last-child {
        margin-right: 0
    }
  
    .contact-links-2 li:first-child {
        margin-bottom: 0
    }
  }
  
  @media screen and (min-width:1024px) {
    .contact-links {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%
    }
  
    .contact-links:last-child {
        margin-right: 0
    }
  }
  
  .contact-links-1 {
    text-align: left
  }
  
  .contact-links-2 {
    text-align: right
  }
  
  .contact-links li:nth-child(n+2):before {
    content: " | "
  }
  
  .contact-links a {
    font-weight: bold;
    color: var(--purple)
  }